<h1>Listing article references</h1>

<table>
  <thead>
    <tr>
      <th>Abbreviation</th>
      <th>Author</th>
      <th>Title</th>
      <th>Journal</th>
      <th>Volume</th>
      <th>Number</th>
      <th>Year</th>
      <th>Pages</th>
      <th>Publisher</th>
      <th>Address</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.abbreviation, article %></td>
        <td><%= article.author %></td>
        <td><%= article.title %></td>
        <td><%= article.journal %></td>
        <td><%= article.volume %></td>
        <td><%= article.number %></td>
        <td><%= article.year %></td>
        <td><%= article.pages %></td>
        <td><%= article.publisher %></td>
        <td><%= article.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New article reference', new_article_path %>
