<%= form_for(@reference) do |f| %>
  <% if @reference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reference.errors.count, "error") %> prohibited this reference from being saved:</h2>

      <ul>
      <% @reference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <h4>Required fields</h4>
    <%= f.hidden_field :reference_type %>
    <%= f.hidden_field :form_path, :value => "new_article" %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :year %><br>
      <%= f.number_field :year %>
    </div>
    <div class="field">
    <%= f.fields_for :journal do |g| %>
        <%= g.label :journal %><br />
        <%= g.text_field :name %><br />
    <% end %>
    </div>
    <div class="field">
    <%= f.fields_for :authors do |g| %>
        <%= g.label :authors %><br />
        <%= g.text_field :names %><br />
    <% end %>
    </div>
    <h4>Optional fields</h4>
    <div class="field">
      <%= f.label :volume %><br>
      <%= f.number_field :volume %>
    </div>
    <div class="field">
      <%= f.label :number %><br>
      <%= f.number_field :number %>
    </div>
    <div class="field">
      <%= f.label :pages %><br>
      <%= f.text_field :pages %>
    </div>
    <div class="field">
      <%= f.label :month %><br>
      <%= f.number_field :month %>
    </div>
    <div class="field">
      <%= f.label :note %><br>
      <%= f.text_field :note %>
    </div>
    <div class="field">
      <%= f.fields_for :publisher do |g| %>
          <%= g.label :publisher %><br />
          <%= g.text_field :name %><br />
      <% end %>
    </div>
    <div class="field">
      <%= f.label :address %><br>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :key %><br>
      <%= f.text_field :key %>
    </div>
    <h4>Tags to help find this reference (not included in the BibTeX, separate with comma)</h4>
    <div class="field">
      <%= f.label :tags %>
      <%= f.text_field :tags, :value => @tag_s %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
