<h1>Listing references</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Year</th>
    <th>Type</th>
  </tr>
  </thead>

  <tbody>
  <% @references.each do |reference| %>
      <tr>
        <!-- Every reference type seems to have at least these three attributes -->
        <td><%= reference.title %></td>
        <td><%= reference.authors.first.name %></td>
        <td><%= reference.year %></td>
        <td><%= reference.reference_type.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<p>Number of references: <%= @references.count %></p>