<h1>Listing references</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Authors</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @references.each do |reference| %>
      <tr>
        <td><%= link_to reference.title, reference %></td>
        <td><%= reference.authors_to_s %></td>
        <td><%= link_to 'Edit', edit_reference_path(reference) %></td>
        <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', 'new_article' %><br>
<%= link_to 'New Book', 'new_book' %><br>
<%= link_to 'New Inproceeding', 'new_inproceeding' %>
