<h1>Listing references</h1>

<div align="right">
    <% attrs = Array.new %>
    <% attrs << "author" %>
    <% Reference.column_names.each do |name| %>
        <% if name.include? "journal" %>
            <% attrs << "journal" %>
        <% elsif name.include? "publisher" %>
            <% attrs << "publisher" %>
        <% elsif name.include? "series" %>
            <% attrs << "series" %>
        <% elsif name.include? "organization" %>
            <% attrs << "organization" %>
        <% elsif name.include? "updated_at" or name.include? "created_at" or name == "id" %>
        <% else %>
            <% attrs << name %>
        <% end %>
    <% end %>
    <%= form_tag references_path, :action => 'search', :method => 'get' do %>
      <strong>Search by </strong>
      <%= select_tag(:attribute, options_for_select(attrs)) %>
      <%= text_field_tag :searchtext, params[:searchtext] %>
      <%= submit_tag "Search" %>
    <% end %>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Reference Type</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Year</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @references.each do |reference| %>
      <tr>
        <td><%= reference.reference_type %></td>
        <td><%= link_to reference.title, reference %></td>
        <td><%= reference.authors_to_s %></td>
        <td><%= reference.year %></td>
        <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>
  <%= link_to 'New Article', 'new_article' %><br>
  <%= link_to 'New Book', 'new_book' %><br>
  <%= link_to 'New Inproceedings', 'new_inproceedings' %><br>
</p>
<p>Number of references: <%= @references.size %></p>
