<p id="notice"><%= notice %></p>

<div>

  Key: <%= @reference.key if @reference.key %><br>
  Authors: <%= @reference.authors_to_s if @reference.authors %><br>
  Editor: <%= @reference.editors_to_s if @reference.editors %><br>
  Title: <%= @reference.title if @reference.title %><br>
  Journal: <%= @reference.journal.name if @reference.journal %><br>
  Volume: <%= @reference.volume if @reference.volume %><br>
  Number: <%= @reference.number if @reference.number %><br>
  Year: <%= @reference.year if @reference.year %><br>
  Pages: <%= @reference.pages if @reference.pages %><br>
  Month: <%= @reference.month if @reference.month %><br>
  Note: <%= @reference.note if @reference.note %><br>
  Publisher: <%= @reference.publisher.name if @reference.publisher %><br>
  Address: <%= @reference.address if @reference.address %><br>

</div>

<strong>Bibtex:</strong><br>
<textarea cols="35" rows="15" readonly>
<%= @reference.generate_bibtex(@reference) %>
</textarea>



<br> <%= link_to 'Back', references_path %>
