<%# add navigation links to this file %>
  <li><%= link_to 'References', references_path %></li>
  <li><%= link_to 'Bibtex', bibtex_path %></li>
  <li><%= link_to 'Authors and Editors', authors_path %></li>
  <li><%= link_to 'Journals', journals_path %></li>
  <li><%= link_to 'Publishers', publishers_path %></li>
  <li><%= link_to 'Organizations', organizations_path %></li>
  <li><%= link_to 'Series', series_index_path %></li>